USE [hotel]
GO
/****** Object:  Trigger [EliminarHuesped]    Script Date: 02/11/2019 08:30:18 p. m. ******/
DROP TRIGGER [dbo].[EliminarHuesped]
GO
/****** Object:  StoredProcedure [dbo].[PTurnoVES]    Script Date: 02/11/2019 08:30:18 p. m. ******/
DROP PROCEDURE [dbo].[PTurnoVES]
GO
/****** Object:  StoredProcedure [dbo].[PTurnoNOC]    Script Date: 02/11/2019 08:30:18 p. m. ******/
DROP PROCEDURE [dbo].[PTurnoNOC]
GO
/****** Object:  StoredProcedure [dbo].[PTurnoMT]    Script Date: 02/11/2019 08:30:18 p. m. ******/
DROP PROCEDURE [dbo].[PTurnoMT]
GO
/****** Object:  StoredProcedure [dbo].[PHuespedNL]    Script Date: 02/11/2019 08:30:18 p. m. ******/
DROP PROCEDURE [dbo].[PHuespedNL]
GO
/****** Object:  StoredProcedure [dbo].[PHuespedCH]    Script Date: 02/11/2019 08:30:18 p. m. ******/
DROP PROCEDURE [dbo].[PHuespedCH]
GO
ALTER TABLE [dbo].[Reservacion] DROP CONSTRAINT [FK__Reservaci__Huesp__534D60F1]
GO
ALTER TABLE [dbo].[Reservacion] DROP CONSTRAINT [FK__Reservaci__Habit__5441852A]
GO
ALTER TABLE [dbo].[Planta] DROP CONSTRAINT [FK__Planta__Habitaci__5070F446]
GO
ALTER TABLE [dbo].[Huesped] DROP CONSTRAINT [FK__Huesped__Estado___59063A47]
GO
ALTER TABLE [dbo].[Hotel] DROP CONSTRAINT [FK__Hotel__Estado_Mu__5812160E]
GO
ALTER TABLE [dbo].[Estado_Municipio] DROP CONSTRAINT [FK__Estado_Mu__Munic__571DF1D5]
GO
ALTER TABLE [dbo].[Estado_Municipio] DROP CONSTRAINT [FK__Estado_Mu__Estad__5629CD9C]
GO
ALTER TABLE [dbo].[Empleado] DROP CONSTRAINT [FK__Empleado__Estado__59FA5E80]
GO
ALTER TABLE [dbo].[Cargos] DROP CONSTRAINT [FK__Cargos__Servicio__52593CB8]
GO
ALTER TABLE [dbo].[Cargos] DROP CONSTRAINT [FK__Cargos__Habitaci__5165187F]
GO
/****** Object:  Index [IndiceHuesped]    Script Date: 02/11/2019 08:30:18 p. m. ******/
DROP INDEX [IndiceHuesped] ON [dbo].[Huesped]
GO
/****** Object:  Index [IndiceEmpleado]    Script Date: 02/11/2019 08:30:18 p. m. ******/
DROP INDEX [IndiceEmpleado] ON [dbo].[Empleado]
GO
/****** Object:  Table [dbo].[Servicios]    Script Date: 02/11/2019 08:30:18 p. m. ******/
DROP TABLE [dbo].[Servicios]
GO
/****** Object:  Table [dbo].[Reservacion]    Script Date: 02/11/2019 08:30:18 p. m. ******/
DROP TABLE [dbo].[Reservacion]
GO
/****** Object:  Table [dbo].[Planta]    Script Date: 02/11/2019 08:30:18 p. m. ******/
DROP TABLE [dbo].[Planta]
GO
/****** Object:  Table [dbo].[Mobiliario]    Script Date: 02/11/2019 08:30:18 p. m. ******/
DROP TABLE [dbo].[Mobiliario]
GO
/****** Object:  Table [dbo].[Hotel]    Script Date: 02/11/2019 08:30:18 p. m. ******/
DROP TABLE [dbo].[Hotel]
GO
/****** Object:  Table [dbo].[Habitacion]    Script Date: 02/11/2019 08:30:18 p. m. ******/
DROP TABLE [dbo].[Habitacion]
GO
/****** Object:  Table [dbo].[Cargos]    Script Date: 02/11/2019 08:30:18 p. m. ******/
DROP TABLE [dbo].[Cargos]
GO
/****** Object:  View [dbo].[Gerente]    Script Date: 02/11/2019 08:30:18 p. m. ******/
DROP VIEW [dbo].[Gerente]
GO
/****** Object:  View [dbo].[Administrador]    Script Date: 02/11/2019 08:30:18 p. m. ******/
DROP VIEW [dbo].[Administrador]
GO
/****** Object:  View [dbo].[EmpleadoNL]    Script Date: 02/11/2019 08:30:18 p. m. ******/
DROP VIEW [dbo].[EmpleadoNL]
GO
/****** Object:  View [dbo].[Limpieza]    Script Date: 02/11/2019 08:30:18 p. m. ******/
DROP VIEW [dbo].[Limpieza]
GO
/****** Object:  View [dbo].[Secretarios]    Script Date: 02/11/2019 08:30:18 p. m. ******/
DROP VIEW [dbo].[Secretarios]
GO
/****** Object:  UserDefinedFunction [dbo].[HuespedXEstado]    Script Date: 02/11/2019 08:30:18 p. m. ******/
DROP FUNCTION [dbo].[HuespedXEstado]
GO
/****** Object:  View [dbo].[TurnoNOC]    Script Date: 02/11/2019 08:30:18 p. m. ******/
DROP VIEW [dbo].[TurnoNOC]
GO
/****** Object:  View [dbo].[TurnoVES]    Script Date: 02/11/2019 08:30:18 p. m. ******/
DROP VIEW [dbo].[TurnoVES]
GO
/****** Object:  View [dbo].[TurnoMT]    Script Date: 02/11/2019 08:30:18 p. m. ******/
DROP VIEW [dbo].[TurnoMT]
GO
/****** Object:  Table [dbo].[Empleado]    Script Date: 02/11/2019 08:30:18 p. m. ******/
DROP TABLE [dbo].[Empleado]
GO
/****** Object:  View [dbo].[HuespedCH]    Script Date: 02/11/2019 08:30:18 p. m. ******/
DROP VIEW [dbo].[HuespedCH]
GO
/****** Object:  View [dbo].[HuespedNL]    Script Date: 02/11/2019 08:30:18 p. m. ******/
DROP VIEW [dbo].[HuespedNL]
GO
/****** Object:  Table [dbo].[Municipio]    Script Date: 02/11/2019 08:30:18 p. m. ******/
DROP TABLE [dbo].[Municipio]
GO
/****** Object:  Table [dbo].[Estado_Municipio]    Script Date: 02/11/2019 08:30:18 p. m. ******/
DROP TABLE [dbo].[Estado_Municipio]
GO
/****** Object:  Table [dbo].[Estado]    Script Date: 02/11/2019 08:30:18 p. m. ******/
DROP TABLE [dbo].[Estado]
GO
/****** Object:  Table [dbo].[Huesped]    Script Date: 02/11/2019 08:30:18 p. m. ******/
DROP TABLE [dbo].[Huesped]
GO
USE [master]
GO
/****** Object:  Database [hotel]    Script Date: 02/11/2019 08:30:18 p. m. ******/
DROP DATABASE [hotel]
GO
/****** Object:  Database [hotel]    Script Date: 02/11/2019 08:30:18 p. m. ******/
CREATE DATABASE [hotel]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'hotel', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\hotel.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'hotel_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\hotel_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [hotel].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [hotel]
GO
/****** Object:  Table [dbo].[Huesped]    Script Date: 02/11/2019 08:30:19 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Huesped](
	[Huesped_id] [int] NOT NULL,
	[Estado_Municipio_id] [int] NOT NULL,
	[Nombre] [varchar](80) NOT NULL,
	[Edad] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Huesped_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Estado]    Script Date: 02/11/2019 08:30:19 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estado](
	[Estado_id] [int] NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Estado_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Estado_Municipio]    Script Date: 02/11/2019 08:30:19 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estado_Municipio](
	[Estado_Municipio_id] [int] NOT NULL,
	[Estado_id] [int] NOT NULL,
	[Municipio_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Estado_Municipio_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Municipio]    Script Date: 02/11/2019 08:30:19 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Municipio](
	[Municipio_id] [int] NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Municipio_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[HuespedNL]    Script Date: 02/11/2019 08:30:19 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[HuespedNL]
AS
	select Huesped.Huesped_id,Huesped.Nombre, Huesped.Edad, Estado.Nombre as NombreDeEstado, Municipio.Nombre as NombreDeMunicipio
	from Estado_Municipio
	inner join Estado on Estado_Municipio.Estado_id=Estado.Estado_id
	inner join Municipio on Estado_Municipio.Municipio_id = Municipio.Municipio_id
	inner join Huesped on Estado_Municipio.Estado_Municipio_id= Huesped.Estado_Municipio_id
	where Estado.Nombre = 'Nuevo León';
GO
/****** Object:  View [dbo].[HuespedCH]    Script Date: 02/11/2019 08:30:19 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create view [dbo].[HuespedCH]
AS
	select Huesped.Huesped_id,Huesped.Nombre, Huesped.Edad, Estado.Nombre as NombreDeEstado, Municipio.Nombre as NombreDeMunicipio
	from Estado_Municipio
	inner join Estado on Estado_Municipio.Estado_id=Estado.Estado_id
	inner join Municipio on Estado_Municipio.Municipio_id = Municipio.Municipio_id
	inner join Huesped on Estado_Municipio.Estado_Municipio_id= Huesped.Estado_Municipio_id
	where Estado.Nombre = 'Chihuahua';
GO
/****** Object:  Table [dbo].[Empleado]    Script Date: 02/11/2019 08:30:19 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleado](
	[Empleado_id] [int] NOT NULL,
	[Nombre] [varchar](80) NOT NULL,
	[Estado_Municipio_id] [int] NOT NULL,
	[Edad] [int] NOT NULL,
	[Puesto] [varchar](50) NOT NULL,
	[SueldoMensual] [money] NOT NULL,
	[Turno] [varchar](11) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Empleado_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[TurnoMT]    Script Date: 02/11/2019 08:30:19 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[TurnoMT]
as 
select * from Empleado
where Turno = '06:00-12:00';
GO
/****** Object:  View [dbo].[TurnoVES]    Script Date: 02/11/2019 08:30:19 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[TurnoVES]
as 
select * from Empleado
where Turno = '12:00-18:00';
GO
/****** Object:  View [dbo].[TurnoNOC]    Script Date: 02/11/2019 08:30:19 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[TurnoNOC]
as 
select * from Empleado
where Turno = '18:00-24:00';
GO
/****** Object:  UserDefinedFunction [dbo].[HuespedXEstado]    Script Date: 02/11/2019 08:30:19 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create function [dbo].[HuespedXEstado]
(@Estado as varchar(100) )
returns table
as
	return(select Estado_Municipio.Estado_Municipio_id, Municipio.Nombre
	from Estado_Municipio
	inner join Estado on Estado_Municipio.Estado_id=Estado.Estado_id
	inner join Municipio on Estado_Municipio.Municipio_id = Municipio.Municipio_id
	inner join Huesped on Estado_Municipio.Estado_Municipio_id= Huesped.Estado_Municipio_id
	where Estado.Nombre=@Estado
	)
GO
/****** Object:  View [dbo].[Secretarios]    Script Date: 02/11/2019 08:30:19 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create view [dbo].[Secretarios]
as
select * from Empleado
where Puesto = 'Secretario';
GO
/****** Object:  View [dbo].[Limpieza]    Script Date: 02/11/2019 08:30:19 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[Limpieza]
as
select * from Empleado
where Puesto = 'Limpieza';
GO
/****** Object:  View [dbo].[EmpleadoNL]    Script Date: 02/11/2019 08:30:19 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[EmpleadoNL]
as
select * from Empleado
where Estado_Municipio_id = '948';
GO
/****** Object:  View [dbo].[Administrador]    Script Date: 02/11/2019 08:30:19 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[Administrador]
as
select * from Empleado
where Puesto = 'Administrador';
GO
/****** Object:  View [dbo].[Gerente]    Script Date: 02/11/2019 08:30:19 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[Gerente]
as
select * from Empleado
where Puesto = 'Gerente de planta';
GO
/****** Object:  Table [dbo].[Cargos]    Script Date: 02/11/2019 08:30:19 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cargos](
	[Cargos_id] [int] NOT NULL,
	[Habitacion_id] [int] NOT NULL,
	[Servicios_id] [int] NOT NULL,
	[CostoXHabitacion] [money] NOT NULL,
	[CostoXServicios] [money] NOT NULL,
	[Otros] [money] NOT NULL,
	[CostoTotal]  AS (([CostoXHabitacion]+[CostoXServicios])+[Otros]),
	[fecha] [varchar](8) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Cargos_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Habitacion]    Script Date: 02/11/2019 08:30:19 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Habitacion](
	[Habitacion_id] [int] NOT NULL,
	[Tipo] [char](7) NOT NULL,
	[Costo] [money] NOT NULL,
	[Estado] [varchar](15) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Habitacion_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hotel]    Script Date: 02/11/2019 08:30:19 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hotel](
	[Hotel_id] [int] NOT NULL,
	[Estado_Municipio_id] [int] NOT NULL,
	[Nombre] [char](30) NOT NULL,
	[CodigoPostal] [varchar](5) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Hotel_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mobiliario]    Script Date: 02/11/2019 08:30:19 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mobiliario](
	[Mobiliario_id] [int] NOT NULL,
	[Nombre] [varchar](20) NOT NULL,
	[Stock] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Mobiliario_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Planta]    Script Date: 02/11/2019 08:30:19 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Planta](
	[Planta_id] [int] NOT NULL,
	[Habitacion_id] [int] NOT NULL,
	[NumeroPlanta] [int] NOT NULL,
	[NumeroHabitacionesGrandes] [int] NOT NULL,
	[NumeroHabitacionesMedianas] [int] NOT NULL,
	[NumeroHabitacionesChicas] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Planta_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reservacion]    Script Date: 02/11/2019 08:30:19 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reservacion](
	[Reservacion_id] [int] NOT NULL,
	[Huesped_id] [int] NOT NULL,
	[Habitacion_id] [int] NOT NULL,
	[fecha] [varchar](8) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Reservacion_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Servicios]    Script Date: 02/11/2019 08:30:19 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Servicios](
	[Servicios_id] [int] NOT NULL,
	[Nombre] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Servicios_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Cargos] ([Cargos_id], [Habitacion_id], [Servicios_id], [CostoXHabitacion], [CostoXServicios], [Otros], [fecha]) VALUES (1, 1, 1, 422.0000, 250.0000, 50.0000, N'28-10-19')
INSERT [dbo].[Cargos] ([Cargos_id], [Habitacion_id], [Servicios_id], [CostoXHabitacion], [CostoXServicios], [Otros], [fecha]) VALUES (2, 2, 3, 524.0000, 500.0000, 230.0000, N'28-10-19')
INSERT [dbo].[Cargos] ([Cargos_id], [Habitacion_id], [Servicios_id], [CostoXHabitacion], [CostoXServicios], [Otros], [fecha]) VALUES (3, 1, 5, 0.0000, 200.0000, 0.0000, N'28-10-19')
INSERT [dbo].[Empleado] ([Empleado_id], [Nombre], [Estado_Municipio_id], [Edad], [Puesto], [SueldoMensual], [Turno]) VALUES (1, N'Carlos Torres', 7, 28, N'Secretario', 12000.0000, N'06:00-12:00')
INSERT [dbo].[Empleado] ([Empleado_id], [Nombre], [Estado_Municipio_id], [Edad], [Puesto], [SueldoMensual], [Turno]) VALUES (2, N'Sarah Medina', 364, 34, N'Secretario', 12000.0000, N'12:00-18:00')
INSERT [dbo].[Empleado] ([Empleado_id], [Nombre], [Estado_Municipio_id], [Edad], [Puesto], [SueldoMensual], [Turno]) VALUES (3, N'Suzana Laenana', 364, 34, N'Secretario', 12000.0000, N'12:00-18:00')
INSERT [dbo].[Estado] ([Estado_id], [Nombre]) VALUES (1, N'Aguascalientes')
INSERT [dbo].[Estado] ([Estado_id], [Nombre]) VALUES (2, N'Baja California')
INSERT [dbo].[Estado] ([Estado_id], [Nombre]) VALUES (3, N'Baja California Sur')
INSERT [dbo].[Estado_Municipio] ([Estado_Municipio_id], [Estado_id], [Municipio_id]) VALUES (1, 1, 1)
INSERT [dbo].[Estado_Municipio] ([Estado_Municipio_id], [Estado_id], [Municipio_id]) VALUES (2, 1, 2)
INSERT [dbo].[Estado_Municipio] ([Estado_Municipio_id], [Estado_id], [Municipio_id]) VALUES (3, 1, 3)
GO
INSERT [dbo].[Habitacion] ([Habitacion_id], [Tipo], [Costo], [Estado]) VALUES (1, N'Chica  ', 211.0000, N'Ocupada')
INSERT [dbo].[Habitacion] ([Habitacion_id], [Tipo], [Costo], [Estado]) VALUES (2, N'Chica  ', 211.0000, N'Ocupada')
INSERT [dbo].[Habitacion] ([Habitacion_id], [Tipo], [Costo], [Estado]) VALUES (3, N'Chica  ', 211.0000, N'Mantenimiento')
INSERT [dbo].[Hotel] ([Hotel_id], [Estado_Municipio_id], [Nombre], [CodigoPostal]) VALUES (1, 948, N'Lunito                        ', N'11214')
INSERT [dbo].[Huesped] ([Huesped_id], [Estado_Municipio_id], [Nombre], [Edad]) VALUES (1, 220, N'Jesus de Jesus', 28)
INSERT [dbo].[Huesped] ([Huesped_id], [Estado_Municipio_id], [Nombre], [Edad]) VALUES (2, 312, N'Eduardo Obregon', 40)
INSERT [dbo].[Huesped] ([Huesped_id], [Estado_Municipio_id], [Nombre], [Edad]) VALUES (3, 985, N'Oscar Berlanga', 79)
INSERT [dbo].[Mobiliario] ([Mobiliario_id], [Nombre], [Stock]) VALUES (1, N'Sillon', 18)
INSERT [dbo].[Mobiliario] ([Mobiliario_id], [Nombre], [Stock]) VALUES (2, N'Sllon doble', 9)
INSERT [dbo].[Mobiliario] ([Mobiliario_id], [Nombre], [Stock]) VALUES (3, N'Sillon Triple', 4)
INSERT [dbo].[Municipio] ([Municipio_id], [Nombre]) VALUES (1, N'Aguascalientes')
INSERT [dbo].[Municipio] ([Municipio_id], [Nombre]) VALUES (2, N'San Francisco de los Romo')
INSERT [dbo].[Municipio] ([Municipio_id], [Nombre]) VALUES (3, N'El Llano')
GO
INSERT [dbo].[Planta] ([Planta_id], [Habitacion_id], [NumeroPlanta], [NumeroHabitacionesGrandes], [NumeroHabitacionesMedianas], [NumeroHabitacionesChicas]) VALUES (1, 1, 1, 1, 1, 1)
INSERT [dbo].[Planta] ([Planta_id], [Habitacion_id], [NumeroPlanta], [NumeroHabitacionesGrandes], [NumeroHabitacionesMedianas], [NumeroHabitacionesChicas]) VALUES (2, 4, 1, 1, 1, 1)
INSERT [dbo].[Planta] ([Planta_id], [Habitacion_id], [NumeroPlanta], [NumeroHabitacionesGrandes], [NumeroHabitacionesMedianas], [NumeroHabitacionesChicas]) VALUES (3, 7, 1, 1, 1, 1)
INSERT [dbo].[Reservacion] ([Reservacion_id], [Huesped_id], [Habitacion_id], [fecha]) VALUES (1, 2, 1, N'28-10-19')
INSERT [dbo].[Reservacion] ([Reservacion_id], [Huesped_id], [Habitacion_id], [fecha]) VALUES (2, 1, 2, N'28-10-19')
INSERT [dbo].[Reservacion] ([Reservacion_id], [Huesped_id], [Habitacion_id], [fecha]) VALUES (3, 3, 4, N'05-11-19')
INSERT [dbo].[Servicios] ([Servicios_id], [Nombre]) VALUES (1, N'Minibar')
INSERT [dbo].[Servicios] ([Servicios_id], [Nombre]) VALUES (2, N'Piscina')
INSERT [dbo].[Servicios] ([Servicios_id], [Nombre]) VALUES (3, N'Restaurant')
SET ANSI_PADDING ON
GO
/****** Object:  Index [IndiceEmpleado]    Script Date: 02/11/2019 08:30:19 p. m. ******/
CREATE NONCLUSTERED INDEX [IndiceEmpleado] ON [dbo].[Empleado]
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IndiceHuesped]    Script Date: 02/11/2019 08:30:19 p. m. ******/
CREATE NONCLUSTERED INDEX [IndiceHuesped] ON [dbo].[Huesped]
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Cargos]  WITH CHECK ADD FOREIGN KEY([Habitacion_id])
REFERENCES [dbo].[Habitacion] ([Habitacion_id])
GO
ALTER TABLE [dbo].[Cargos]  WITH CHECK ADD FOREIGN KEY([Servicios_id])
REFERENCES [dbo].[Servicios] ([Servicios_id])
GO
ALTER TABLE [dbo].[Empleado]  WITH CHECK ADD FOREIGN KEY([Estado_Municipio_id])
REFERENCES [dbo].[Estado_Municipio] ([Estado_Municipio_id])
GO
ALTER TABLE [dbo].[Estado_Municipio]  WITH CHECK ADD FOREIGN KEY([Estado_id])
REFERENCES [dbo].[Estado] ([Estado_id])
GO
ALTER TABLE [dbo].[Estado_Municipio]  WITH CHECK ADD FOREIGN KEY([Municipio_id])
REFERENCES [dbo].[Municipio] ([Municipio_id])
GO
ALTER TABLE [dbo].[Hotel]  WITH CHECK ADD FOREIGN KEY([Estado_Municipio_id])
REFERENCES [dbo].[Estado_Municipio] ([Estado_Municipio_id])
GO
ALTER TABLE [dbo].[Huesped]  WITH CHECK ADD FOREIGN KEY([Estado_Municipio_id])
REFERENCES [dbo].[Estado_Municipio] ([Estado_Municipio_id])
GO
ALTER TABLE [dbo].[Planta]  WITH CHECK ADD FOREIGN KEY([Habitacion_id])
REFERENCES [dbo].[Habitacion] ([Habitacion_id])
GO
ALTER TABLE [dbo].[Reservacion]  WITH CHECK ADD FOREIGN KEY([Habitacion_id])
REFERENCES [dbo].[Habitacion] ([Habitacion_id])
GO
ALTER TABLE [dbo].[Reservacion]  WITH CHECK ADD FOREIGN KEY([Huesped_id])
REFERENCES [dbo].[Huesped] ([Huesped_id])
GO
/****** Object:  StoredProcedure [dbo].[PHuespedCH]    Script Date: 02/11/2019 08:30:19 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create procedure [dbo].[PHuespedCH]
AS 
select * from [HuespedCH]
where Edad <18
GO
/****** Object:  StoredProcedure [dbo].[PHuespedNL]    Script Date: 02/11/2019 08:30:19 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create procedure [dbo].[PHuespedNL]
AS 
select * from [HuespedNL]
where Edad <18
GO
/****** Object:  StoredProcedure [dbo].[PTurnoMT]    Script Date: 02/11/2019 08:30:19 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create procedure [dbo].[PTurnoMT]
AS 
select * from [TurnoMT]
where Edad <18
GO
/****** Object:  StoredProcedure [dbo].[PTurnoNOC]    Script Date: 02/11/2019 08:30:19 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create procedure [dbo].[PTurnoNOC]
AS 
select * from [TurnoNOC]
where Edad <18
GO
/****** Object:  StoredProcedure [dbo].[PTurnoVES]    Script Date: 02/11/2019 08:30:19 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create procedure [dbo].[PTurnoVES]
AS 
select * from [TurnoVES]
where Edad <18
GO
/****** Object:  Trigger [dbo].[EliminarHuesped]    Script Date: 02/11/2019 08:30:19 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create trigger [dbo].[EliminarHuesped]
	on [dbo].[Huesped]
	for delete
	as
	print 'Hubo un cambio en la tabla "Huesped"';
GO
ALTER TABLE [dbo].[Huesped] ENABLE TRIGGER [EliminarHuesped]
GO
USE [master]
GO
